<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>week2-log</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="app">
      <h2>請先登入</h2>
        <div class="big">
          
          <form @submit.prevent="login">
      
            <input type="email" v-model="user.username" placeholder="xxxx@sss.com">
            <label>Email address</label>
            <br>
            <br>
            <input type="password" v-model="user.password" placeholder="password">
            <label>password</label>
            <br>
            <br>
            <button type="submit">登入</button>
      
          </form>
        </div>
      
      </div>
      
      <script src="./app.js" type="module"></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js'
      integrity='sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=='
      crossorigin='anonymous'></script>
</body>
</html>